// @file Base
// This file contains basic theme elements fundamental to all sites.

/* Globals */
html {
	box-sizing: border-box;
	font-size: $base-font-size;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	height: 100%;
	font-family: $base-font-stack;
	color: $body-copy;
	background-color: $site-background;
}

html,
body {
	height: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Typography */
h1 {
	font-size: $heading-size-1;
	color: $heading-color-1;
}

h2 {
	font-size: $heading-size-2;
	color: $heading-color-2;
}

h3 {
	font-size: $heading-size-3;
	color: $heading-color-3;
}

h4 {
	font-size: $heading-size-4;
	color: $heading-color-4;
}

h5 {
	font-size: $heading-size-5;
	color: $heading-color-5;
}

h6 {
	font-size: $heading-size-6;
	color: $heading-color-6;
}

p, li {
	line-height: 1.5;
	margin: 0 0 1em 0;
}

a,
a:link {
	@include text-decoration($body-copy-links, $body-copy-links-hover);
}

/* Layout */
.utility-inner,
#header,
.featured-inner,
#breadcrumb,
.message-wrapper-inner,
#main,
#footer {
	@include container(); // defining rows
}

/* Utility Region */
.region-utility {
	@include span(12 of 12);
}

/* Header Region */
#logo {
	@include span(12 of 12);
	@include breakpoint(768px) {
		@include span(4 of 12);
		clear: both;
	}
}

#name-and-slogan {
	@include span(12 of 12);
	@include breakpoint(768px) {
		@include span(6 of 12);
		clear: left;
	}
	h1 {
		margin: 0;
	}
}

.region-header {
	position: relative;
	@include span(12 of 12);
	@include breakpoint(768px) {
		@include span(6 of 12);
	}
}

/* Featured Section */
.region-featured {
	@include span(12 of 12);
}

/* Breadcrumb Section */
.breadcrumb-inner {
	@include span(12 of 12);
}

/* Message Section */
.message-container {
	@include span(12 of 12);
}

/* Content Region */
#content {
	.no-sidebars & {
		@include span(12 of 12);
	}
	.sidebar-first & {
		@include span(12 of 12);
		@include breakpoint(768px) {
			@include span(8 of 12 last);
		}
	}
	.sidebar-second & {
		@include span(12 of 12);
		@include breakpoint(768px) {
			@include span(8 of 12);
		}
	}
	.two-sidebars & {
		@include span(12 of 12);
		@include breakpoint(768px) {
			@include span(4 of 12);
		}
	}
}

/* Content Inner Regions */
.region-help,
#content-top,
.region-content,
#content-bottom {
}

.tabs {
	@include span(12 of 12);
}

/* Sidebar First Region */
#sidebar-first {
	@include span(12 of 12);
	@include breakpoint(768px) {
		@include span(4 of 12);
	}
	.one-sidebar & {
	}
	.two-sidebars & {
	}
}

/* Sidebar Second Region */
#sidebar-second {
	@include span(12 of 12);
	@include breakpoint(768px) {
		@include span(4 of 12 last);
		float: right;
	}
	.one-sidebar & {
	}
	.two-sidebars & {
	}
}

/* Footer Region */
.region-footer {
	@include span(12 of 12);
}

/* Blocks */
.sidebar {
	section.block { // sidebar blocks
		margin-bottom: 4rem;
		&:nth-child(2n+2) { // even sidebar blocks
			@include span(12 of 12);
			@include breakpoint(530px) {
				@include span(6 of 12 last);
			}
			@include breakpoint(768px) {
				@include span(4 of 4);
			}
		}
		&:nth-child(2n+1) { // odd sidebar blocks
			@include span(12 of 12);
			@include breakpoint(530px) {
				@include span(6 of 12);
			}
			@include breakpoint(768px) {
				@include span(4 of 4);
			}
		}
	}
}