// @file Config
// This file contains theme variables and compile order specifications.
// @file Config
// This file contains theme variables and compile order specifications.

// VARIABLES

// Font Stacks
$fallback-base-font-stack: sans-serif; // Set fallback font stack when webfonts aren't available
$base-font-stack: Arial, Helvetica, $fallback-base-font-stack;
$fallback-alt-font-stack: serif; // Set fallback alt font stack when webfonts aren't available
$alt-font-stack: Georgia, $fallback-alt-font-stack;

// Colors
$color1: #ffffff; // White
$color2: #000000; // Black
$color3: #cccccc; // Light Gray
$color4: #666666; // Medium Gray
$color5: #333333; // Dark Gray
$color6: #D62901; // Red
$color6a: darken($color6, 10); // Dark Red
$color7: #bbbaba; // Light Medium Gray

// Typography
$base-font-size: 16px;

$heading-size-1: $base-font-size * 2.4;
$heading-size-2: $base-font-size * 2.2;
$heading-size-3: $base-font-size * 2.0;
$heading-size-4: $base-font-size * 1.8;
$heading-size-5: $base-font-size * 1.6;
$heading-size-6: $base-font-size * 1.4;

$form-field-size: $base-font-size * 1;

$body-copy: $color5;
$body-copy-reverse: $color1;

$heading-color-1: $color2;
$heading-color-2: $color6;
$heading-color-3: $color2;
$heading-color-4: $color2;
$heading-color-5: $color2;
$heading-color-6: $color2;

$blockquote-copy: $color6;
$date-copy: $color4;

$main-menu-links: $color6;
$main-menu-links-hover: $main-menu-links;

$body-copy-links: $color6;
$body-copy-links-hover: $body-copy-links;

$sidebar-menu-links: $color6;
$sidebar-menu-links-hover: $sidebar-menu-links;

$footer-links: $color1;
$footer-links-hover: $footer-links;

// Style
$border-color: $color3;
$border-alternative-color: $color4;
$border-hack-color: $color1;
$border-header-color: $color6;

$site-background: $color1;
$page-background: $color1;
$pager-background: $color3;
$pager-background-hover: $color7;

$button-background: $color6;
$button-background-hover: $color6a;
$button-border: $color6;
$button-border-hover: $button-border;
$button-copy: $color1;
$button-copy-hover: $button-copy;


// Susy
@import "susy";
$susy: (
	container: 1140px,
  columns: 12,
  global-box-sizing: border-box,
  debug: (
    image: show,
    color: rgba(0,0,0,.4),
    output: background
  ),
);

// Media Query Breakpoints
// Usage:: @include breakpoint($mq-1);
// $mq-1: 0px 320px;
// $mq-2: 321px 480px;
// $mq-3: 481px 640px;
// $mq-4: 641px 767px;
// $mq-5: 768px 1023px;
// $mq-6: 1024px 9999px;


// Imports
//
// This is the master configuration file for our theme, which contains an annotated
// list of @import functions which comprise the separate stylesheets which make up
// specific parts of the theme.

// Theme Modules
//
// Modules, designated with an underscore prefix, don't generate any CSS output
// themselves but instead contain mixins and definte base variables used by other
// stylesheets.

// CSS Philosiphies
//
// Use rems for font sizes
// Use inline media queries
// Use inline IE styles

// CSS Preprocess Logic
	@import "preprocess";
	@import "reset";

// SASS Preprocess Logic
	@import "breakpoint";

// Theme Styles
	@import "base";
	@import "forms";
	@import "navigation";
	@import "print";